<div style="text-align: center; padding-bottom: 50px">
<h2>New burger</h2>
<form class="create-update-form" action="/" method="POST">

  <div class="form-group">
    <label for="ca">Add a new burger to try:</label>
    <input type="text" id="ca" name="burger_name">
  </div>

  <button type="submit">add</button>
</form>
</div>

{{!-- Burger Wishlist --}}
<div style="float: left; margin-left: 200px;">
<h3>Burgers to try:</h3>
<ul style="border: solid 3px grey; padding-bottom: 10px;">
  {{#each burgers}}
    {{#unless this.devoured}}
      <li>
        {{this.burger_name}}

        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="true">
          <button type="submit">devoured</button>
        </form>

        {{> burger/delete-burger}}
      </li>
    {{/unless}}
  {{/each}}
</ul>
</div>

{{!-- Devoured --}}
<div style="float: right; margin-right: 200px;">
<h3>Devoured burgers:</h3>
<ul style="border: solid 3px grey; padding-bottom: 10px;">
  {{#each burgers}}
    {{#if this.devoured}}
      <li>
        {{this.burger_name}}

        {{> burger/delete-burger}}
      </li>
    {{/if}}
  {{/each}}
</ul>
</div>
