<h1>Burgers!</h1>

<h2>list of burgers</h2>
<ul>
  {{#each burgers}}
    {{#unless this.devour}}
      <li>
        {{this.burger_name}}

        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devour" value="true">
          <button type="submit">DEVOUED</button>
        </form>

        {{> burger/delete-cat}}
      </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>burgers that are devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if this.burger}}
      <li>
        {{this.burger}}

        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devour" value="false">
          <button type="submit">WAKE UP!</button>
        </form>

        {{> burger/delete-cat}}
      </li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-update-form" action="/" method="POST">

  <div class="form-group">
    <label for="ca">Burgers Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="sleep">devour?</label><br>
    <input type="radio" name="devour" value="1" checked> devour!<br>
    <input type="radio" name="devour" value="0"> Awake
  </div>

  <button type="submit">Add Burger</button>
</form>
